@{
    ViewData["Title"] = "Lớp học";
    ViewData["SubTitle"] = "Các lớp học theo từng môn ở kỳ này của bạn";
    ViewData["Icon"] = "fa-solid fa-star-and-crescent";
}
@section Styles{
    <style>
        .bg-primary-subtle {
            background-color: #cfe2ff !important;
        }

        a {
            cursor: pointer;
        }
    </style>
}
<div class="container-fluid px-5 mt-n10">
    <div class="row">
        <div class="col-xl-2 col-md-3 animated--fade-in-up">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Kỳ học</div>
                <div class="list-group list-group-flush small" id="listSemester">
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-3 animated--fade-in-up">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Khóa học</div>
                <div class="list-group list-group-flush small" id="listCourse">
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6 col animated--fade-in-up" id="listMark">
            <div class="card mb-4 mb-xl-0">
                <div class="card-body p-3 table-responsive">
                    <table class="table ">
                        <thead class="">
                            <tr>
                                <th>Các đánh giá</th>
                                <th>Đánh giá chi tiết</th>
                                <th>Tỷ trọng (%)</th>
                                <th>Điểm</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/grade/semester.js"></script>
}