@{
    ViewData["Icon"] = "fa-solid fa-book-bookmark";
}
<div class="container-fluid px-5 mt-n10">
    <div class="row">
        <div class="col-12 animated--fade-in-up">
            <div class="card p-3 mb-4 curriculum-detail" id="curriculumDetail">
                <div class="card-body m-3 p-0 row g-3">
                    <h6 class="col-1 col-lg-2">Mã</h6>
                    <div class="col-11 col-lg-10" name="subject.code"></div>
                    <h6 class="col-1 col-lg-2">Tên</h6>
                    <div class="col-11 col-lg-10" name="subject.name"></div>
                    <h6 class="col-1 col-lg-2">Mô tả</h6>
                    <div class="col-11 col-lg-10" name="subject.description"></div>
                    <h6 class="col-1 col-lg-2">Kỳ học</h6>
                    <div class="col-11 col-lg-10" name="semester"></div>
                    <h6 class="col-1 col-lg-2">Số tín chỉ</h6>
                    <div class="col-11 col-lg-10" name="credit"></div>
                    <h6 class="col-1 col-lg-2">Điểm tối thiểu</h6>
                    <div class="col-11 col-lg-10" name="minMark"></div>
                </div>
            </div>
            <div class="card mb-4 mb-xl-0">
                <div class="card-body m-0 p-0 table-responsive boxscroll overflow-auto" id="detailList">
                    <table class="table table-fixed">
                        <thead class="">
                            <tr class="text-center">
                                <th>STT</th>
                                <th>Kỳ học</th>
                                <th>Mã môn học</th>
                                <th>Tên môn học</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/curriculumn.js"></script>
}