@{
    Layout = "_LayoutLogin";
}
<section class="vh-100"
         style="background: url(/img/DH-FPT.jpg);background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="/img/FPTU.jpg" alt="login form" class="img-fluid h-100"
                                 style="border-radius: 1rem 0 0 1rem;object-fit: cover;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <img src="/favicon.ico" class="fas fa-cubes fa-2x me-3" />
                                    <span class="h1 fw-bold mb-0">FPT University</span>
                                </div>
                                <div class="input-group mb-3">
                                    <div id="g_id_onload"
                                         data-client_id="225653952433-jks6t2n1h5l012iulk3cs05dtm79icn4.apps.googleusercontent.com"
                                         data-context="signin"
                                         data-ux_mode="popup"
                                         data-callback="onSignIn"
                                         data-auto_prompt="false">
                                    </div>

                                    <div class="g_id_signin"
                                         data-type="standard"
                                         data-shape="pill"
                                         data-theme="filled_blue"
                                         data-text="signin_with"
                                         data-size="large"
                                         data-onsuccess="onSignIn"
                                         data-locale="vi"
                                         data-logo_alignment="left"
                                         data-width="400">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>